.main{
  flex: 1;
  color: #fff;
  border-radius: 15px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridIcon{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridTitle{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.gridInfo{
  font-size: .8rem;
  margin-top: 1rem;
}

.YourIMC{
  font-size: .9rem;
  margin: 0.8rem 0 4rem 0;
}

@media (max-width: 430px){
  .gridIcon{
    margin-top: 1rem;
  }

  .gridInfo{
    margin-bottom: 1rem;
  }
}